body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gamestation', sans-serif;  
    background-color: rgb(34, 34, 34);
}
@font-face {
    font-family: 'Gamestation'; /* Имя шрифта, которое вы будете использовать в вашем CSS */
    src: url('./src/Fonts/GamestationCondensed.otf') format('opentype'); /* Путь к файлам шрифта */
    font-weight: normal; /* Нормальная толщина шрифта */
    font-style: normal; /* Обычный стиль шрифта */
  }
.head{
    background-color: rgb(34, 34, 34);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}
.planetIcon{
 filter: invert(100%);
 width: 30px;
 height: 30px;
}
.logo{
    display: flex;
    margin-left: 2%;
}
.logorec{
    background-color: rgb(255, 255, 255);
    width: 174px;
    height: 33px;
    border-radius: 20px 20px 20px 20px;
}
.inputSearch{
    font-size: 105%;
    padding: 10px;
    margin: 5px; 
    border-radius: 20px 20px 20px 20px;
    width: 230px;
    height: 15px;
    background-color: rgb(34, 34, 34);
    color: rgb(110, 110, 110);
    border-color: rgb(110, 110, 110);
    border: 2px solid rgb(110, 110, 110);
}
.inputSearch::placeholder{
    padding: 10px; /* Задаем внутренний отступ для placeholder */
    margin: 5px;
}
.menuParam{
    color: rgb(255, 255, 255);
    font-size: 140%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
}
.param{
    cursor: pointer;
}
.signBut{
    width: 200px;
    height: 40px;
    font-size: 120%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(34, 34, 34);
    border-color: rgb(245, 38, 38);
    color: rgb(245, 38, 38);
    cursor: pointer;
    border: 2px solid rgb(245, 38, 38);

}
.leng{
    display: flex;
    flex-direction: row;
}
.lengB{
    font-size: 130%;
    background-color:rgb(34, 34, 34) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);;
}
.selectAvto{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 250%;
}
.selectors{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}
.selectors1{
    font-size: 130%;
    background-color:rgb(34, 34, 34) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);
    z-index: 1;
}
.searchCatalog{
    width: 200px;
    height: 30px;
    font-size: 120%;
    color: white;
    background-color: rgb(245, 38, 38);
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(245, 38, 38);
    cursor: pointer;
    font-family: 'Gamestation', sans-serif;
    z-index: 2;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    align-items: center;
    font-size: 140%;
    padding: 100px;
    margin: 0;
    z-index: 0;
    
}
.banner{
    display: flex;
    margin: 0;
    font-size: 400%;
    color: white;
}
.red-text{
    color: gb(245, 38, 38);
  }
  .banner_bottom{
    display: flex;
    color: white;
    font-size: 150%;
    width: 110%;
    border-style: none;
  }
  .left_button{
    font-size: 80%;
    width: 350px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(34, 34, 34);
    border-color: rgb(245, 38, 38);
    border: 2px solid;
    color: rgb(245, 38, 38);
    cursor: pointer;
  }
.first_panel{
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    z-index: 1;
}
.right{
    margin-top: 100px;
    margin-left: 100px;
}
.redText{
    color: rgb(245, 38, 38);
    position: absolute;
}
.second_panel_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.panel_disk{
    display: flex;
    flex-direction: column;
}
.text1{
    font-size: 500%;
    color: white;
}
.text2{
    font-size: 500%;
    color: white;
    margin-top: -70px;
}
.redText1{
    color: rgb(245, 38, 38);
}
.disk{
    
}
.pads{
    position: absolute;
    margin-top: 390px;
    margin-left: -600px;
}