body, html {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gamestation', sans-serif;  
    background-color: rgb(34, 34, 34);
}
.humburger{
    display: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Четвертое значение (0.5) устанавливает прозрачность */
    z-index: 1000; /* Позволяет затемнению быть выше остального контента */
  }
@font-face {
    font-family: 'Gamestation'; /* Имя шрифта, которое вы будете использовать в вашем CSS */
    src: url('./src/Fonts/GamestationCondensed.otf') format('opentype'); /* Путь к файлам шрифта */
    font-weight: normal; /* Нормальная толщина шрифта */
    font-style: normal; /* Обычный стиль шрифта */
  }
@media(max-width:1748px){
    .right{
        display: none;
    }
    .first_panel{
        display: flex;
        justify-content: center;
        margin-top: -60px;
        z-index: 1;
    }
    .left{
        display: flex;
        align-items: center !important;
    }
}
@media(max-width:1360px){
    .second_panel{
        justify-content: center ;
        display: flex;
    }
    .second_panel_text{
        justify-content: center ;
        flex-direction: column !important;
    }
    .selectAvto{
        display: none !important;
    }
    .selectors{
        display: none !important;
    }
    .frame3{
        flex-direction: column !important;
    }
}
@media(max-width:1133px){
    .menuParam{
        display: none !important;
    }
    .humburger span,
    .humburger::before,
    .humburger::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }
    .humburger::before,
    .humburger::after{
        content: "";
    }
    .humburger::before{
        top: 0;
    }
    .humburger::after{
        bottom: 0;
    }
    .signIn_content{
        position: relative;
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .signIn{
        font-size: 300% !important;
        width: 50% !important;
    }
}
.head{
    background-color: rgb(34, 34, 34);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}
.planetIcon{
 filter: invert(100%);
 width: 30px;
 height: 30px;
}
.logo{
    display: flex;
    margin-left: 2%;
}
.logorec{
    background-color: rgb(255, 255, 255);
    width: 174px;
    height: 33px;
    border-radius: 20px 20px 20px 20px;
}
.inputSearch{
    font-size: 105%;
    padding: 10px;
    margin: 5px; 
    border-radius: 20px 20px 20px 20px;
    width: 230px;
    height: 15px;
    background-color: rgb(34, 34, 34);
    color: rgb(110, 110, 110);
    border-color: rgb(110, 110, 110);
    border: 2px solid rgb(110, 110, 110);
}
.inputSearch::placeholder{
    padding: 10px; /* Задаем внутренний отступ для placeholder */
    margin: 5px;
}
.menuParam{
    color: rgb(255, 255, 255);
    font-size: 140%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
}
.param{
    cursor: pointer;
}
.signBut{
    width: 200px;
    height: 40px;
    font-size: 120%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(34, 34, 34);
    border-color: rgb(245, 38, 38);
    color: rgb(245, 38, 38);
    cursor: pointer;
    border: 2px solid rgb(245, 38, 38);

}
.leng{
    display: flex;
    flex-direction: row;
}
.lengB{
    font-size: 130%;
    background-color:rgb(34, 34, 34) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);;
}
.selectAvto{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 250%;
}
.selectors{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}
.selectors1{
    font-size: 130%;
    background-color:rgb(34, 34, 34) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);
    z-index: 101;
}
.searchCatalog{
    width: 200px;
    height: 30px;
    font-size: 120%;
    color: white;
    background-color: rgb(245, 38, 38);
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(245, 38, 38);
    cursor: pointer;
    font-family: 'Gamestation', sans-serif;
    z-index: 102;
}
.left{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 140%;
    padding: 100px;
    margin: 0;
    z-index: 0;
    
}
.banner{
    display: flex;
    margin: 0;
    font-size: 400%;
    color: white;
}
.red-text{
    color: gb(245, 38, 38);
  }
  .banner_bottom{
    display: flex;
    color: white;
    font-size: 150%;
    text-align: center;
    width: 110%;
    border-style: none;
  }
  .left_button{
    font-size: 80%;
    width: 650px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(34, 34, 34);
    border-color: rgb(245, 38, 38);
    border: 2px solid;
    color: rgb(245, 38, 38);
    cursor: pointer;
  }
.first_panel{
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    z-index: 1;
}
.right{
    margin-top: 100px;
    margin-left: -100px;
}
.redText{
    color: rgb(245, 38, 38);
    position: absolute;
}
.second_panel_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.panel_disk{
    display: flex;
    flex-direction: column;
}
.text1{
    font-size: 500%;
    color: white;
}
.text2{
    font-size: 500%;
    color: white;
    margin-top: -70px;
}
.redText1{
    color: rgb(245, 38, 38);
}
.pads{
    position: absolute;
    margin-top: 390px;
    margin-left: -600px;
}
.frame3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200%;
    margin: 40px;
}
.frame3_part1{
    display: flex;
    flex-direction: column;
}
.frame3_part2{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 350%;
    color: rgb(245, 38, 38);
}
.description{
    font-size: 200%;
    color: white;
    width: 60%;
}
.f3_text{
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signIn{
    display: none;
    position: fixed;
    font-size: 140%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 30%;
    background-color: rgb(34, 34, 34);
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(245, 38, 38);
    z-index: 1001;

}
.signIn_content{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sign_in_button{
    color: white;
    background-color: rgb(245, 38, 38);
    width: 50%;
    font-size: 140%;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(245, 38, 38);
}
label {
    color: white;
    margin-bottom: 5px;
  }
.l_input{
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
}